/*RESETE*/

html, body, div, span, applet, object, iframe,
 blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Minhas configuraçõs CSS*/
/*MOBILE*/
body{
  background:whitesmoke;
}
header,section,footer{
  text-align: center;
  background: rgb(204, 201, 201);
  border: 1px solid darkorange;
}
@media(max-width : 600px){
  header{
    margin-top: 7%;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 1%;
    padding-bottom: 1%;


  }
  section{
    margin-top: 20%;
    margin-right: 10%;
    margin-left: 10%;
    padding-top: 20%;
    padding-bottom: 20%;
    height: 10vh;
    text-align: center;
   
  }
  section .results,section .converterPara{
    padding-top: 10%;
  }
  footer{
    margin-top: 25%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 1%;

  }
}
/*Desktop*/
@media(min-width:601px){
  header{
    margin-top: 2%;
    margin-left: 30%;
    margin-right: 30%;
    
  }
  section{
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    height: 30vh;
    padding-top: 10%;

  }
  section .results,section .converterPara{
    padding-top: 2%;
  }
  footer{
    margin-top: 7%;
    margin-left: 20%;
    margin-right: 20%;
  }

}